<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.order.system.dao.AdminMapper" >
  <resultMap id="adminRelateRole" type="admin">
    <id column="id" property="id"/>
    <result property="name" column="name"/>
    <result property="password" column="password"/>
    <result property="salt" column="salt"/>
    <result property="status" column="status"/>
    <result property="address" column="address"/>
    <result property="phone" column="phone"/>
    <result property="lasttime" column="lasttime"/>
    <collection property="roleList" ofType="role">
      <result property="name" column="r_name"/>
      <result property="desc_" column="r_desc"/>
    </collection>

  </resultMap>
  <select id="findByName"  parameterType="String" resultType="admin">
    SELECT * FROM admin where name = #{name}
  </select>

  <select id="listAll" resultMap="adminRelateRole">
    SELECT a.*,r.name as r_name,r.desc_ as r_desc
from (admin a join admin_role ar on a.id=ar.uid)
       join role r on r.id = ar.rid
  </select>
</mapper>