<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.order.system.dao.ProductMapper" >
  <resultMap id="productRelateCategoryAndAdmin" type="product">
    <id column="id" property="id"/>
    <result property="name" column="name"/>
    <result property="price" column="price"/>
    <result property="number" column="number"/>
    <result property="zan" column="zan"/>
    <result property="status" column="status"/>
    <result property="imageurl" column="imageurl"/>
    <result property="miaoshu" column="miaoshu"/>
    <collection property="category" ofType="Category">
      <id column="c_id" property="id"/>
      <result property="name" column="c_name"/>
    </collection>
    <collection property="admin" ofType="Admin">
      <result property="name" column="a_name"/>
    </collection>
  </resultMap>
  <select id="listAll" resultMap="productRelateCategoryAndAdmin">
    SELECT p.id,p.name,p.price,p.number,p.zan,p.status,p.imageurl,p.miaoshu,c.id as c_id,c.name as c_name,a.name as a_name
from product p left join category  c on  p.cid = c.id left join admin a on p.bid =a.id
  </select>
  <select id="listByName" parameterType="string" resultType="product">
    SELECT * FROM product where name = #{name}
  </select>
  <select id="listOne" parameterType="Integer" resultType="product">
    SELECT * FROM product where id = #{id}
  </select>
</mapper>